@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
.card{
max-width: 200vw;
background-color: #faedf6 ;
border-radius: 10%;
box-shadow:inset 5px 5px 5px 5px #EDE3E9;
margin-top: 4vh;
height: 70%;
transition: 0.5s;
opacity: 0.7;
transform: translateY(100px);
z-index: 2;
}

.card_img{
    max-width:100%;
    border-radius: 10%;
    box-shadow:  -23px 23px 60px #8f8f8f,
    23px 23px 60px #ffffff;
;
}
.card_name{
font-family: 'Kanit';
display: flex;
justify-content: center;

text-align: center;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.price h2{
    color: whitesmoke;
    text-shadow: 0px 0px 6px #666666;
}

.desc{
    list-style:disc;
    font-family: 'Kanit';
    margin-left: 20px;
    opacity: 0;
    transition: 0.5s;
}

.sold{
    font-family: 'Kanit';
    display: flex;
    justify-content: center;
    text-decoration:underline 2px;
    opacity: 0;
    transition: 0.5s;
}

.btn_more{
	box-shadow: 3px 3px 3px 3px #e1d8d8;
	background-color:#ffffff;
	border-radius:6px;
    border-width: 2px;
    border-color: #666666;
	display:flex;
    justify-content: center;
	cursor:pointer;
	color:#666666;
	font-family:'Kanit';
	font-size:xx-large;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
transition: 0.5s;
opacity: 0;
}
.btn_div{
    display: flex;
    justify-content: center;
}
.btn_more:hover{
  background-color:black;
  transition: 0.5s;
  color: #f6f6f6;
}
.number{
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
    opacity: 0;
    transition: 0.5s;
}

.splide__head{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit';
    z-index:1;
}

.card:hover{
    height: 95%;
    transform: scale(1.03);
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    }
.card:hover .desc{
opacity: 1;
transition: 0.5s;

}

.card:hover .btn_more{
    opacity: 1;
    transition: 0.5s;
    }
    .card:hover .sold{
        opacity: 1;
        transition: 0.5s;
        }
        .card:hover .number{
            opacity: 1;
            transition: 0.5s;
            }